/* 업체명 */
.search-form__group-item--bis-name {
  flex: 0 0 25%;
}

/* 이메일 */
.search-form__group-item--bis-reg-num {
  flex: 0 0 20%;
}

/* 카테고리 */
.search-form__group-item--category {
  flex: 0 0 25%;
}

/* 연령대 */
.search-form__group-item--region {
  flex: 0 0 20%;
}
