/* main-container 내부에서 중복되지 않는 클래스만 초안 작성 */

/* 메인 헤더 */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.main-header__title {
  font-size: 1.5rem;
  font-weight: bold;
}
.main-header__desc {
  font-size: 0.875rem;
  color: #666;
}
.main-header__actions {
  display: flex;
  gap: 0.5rem;
}

/*  */
