/* 이름 */
.form__group--mem-name {
  flex: 0 0 25%;
}

/* 이메일 */
.form__group--mem-email {
  flex: 0 0 20%;
}

/* 주소 */
.form__group--mem-addr {
  flex: 0 0 25%;
}

/* 연령대 */
.form__group--mem-age-range {
  flex: 0 0 20%;
}
